<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flatiron School Food Spots</title>
  </head>
  <body>
    <h1>Flatiron School Food Spots</h1>
    <a href="/reviews">Read existing reviews</a><br>
    <a href="/reviews/new">Create a review</a><br>
  </body>
</html>
